language: python

python:
  - 3.6

before_install:
  - pip install --user codecov

install:
  - make dev-setup

script:
  - make test

after_success:
  - export CODECOV_TOKEN={{__CODECOV_TOKEN__}}
  - bash <(curl -s https://codecov.io/bash) -t {{__CODECOV_TOKEN__}}
