"""
# test_api_{{__API_VERSION__}}_info
"""
import os
import logging
import unittest

from mock import MagicMock, patch
from {{__PROJECT_FOLDER_AS_PYTHON_TOP_MODULE_NAME__}}.api.{{__API_VERSION__}}.info import get_api_doc
from {{__PROJECT_FOLDER_AS_PYTHON_TOP_MODULE_NAME__}}.api.{{__API_VERSION__}}.info import get_info


class ApiInfoTester(unittest.TestCase):
    """
    ApiInfoTester includes all unit tests for {{__PROJECT_FOLDER_AS_PYTHON_TOP_MODULE_NAME__}}.api.{{__API_VERSION__}}.info module
    """

    @classmethod
    def teardown_class(cls):
        logging.shutdown()

    def setUp(self):
        """setup for test"""
        test_path = os.path.dirname(os.path.realpath(__file__))
        proj_path = os.path.dirname(test_path)
        self.spec_path = os.path.join(
            proj_path, '{{__PROJECT_FOLDER_AS_PYTHON_TOP_MODULE_NAME__}}', 'apidoc', '{{__API_VERSION__}}')
        pass

    def tearDown(self):
        """tearing down at the end of the test"""
        pass

    @patch('{{__PROJECT_FOLDER_AS_PYTHON_TOP_MODULE_NAME__}}.api.{{__API_VERSION__}}.info.flask')
    def test_get_api_doc(self, mock_flask):
        """
        test {{__PROJECT_FOLDER_AS_PYTHON_TOP_MODULE_NAME__}}.api.{{__API_VERSION__}}.info.get_api_doc
        """
        get_api_doc()
        mock_flask.send_from_directory.assert_called_with(
            self.spec_path, 'swagger.yaml',
            as_attachment=True,
            attachment_filename='swagger-{{__DOCKER_CONTAINER_NAME__}}.yaml',
            mimetype='application/octet-stream'
        )
        pass

    @patch('{{__PROJECT_FOLDER_AS_PYTHON_TOP_MODULE_NAME__}}.api.{{__API_VERSION__}}.info.flask')
    @patch('{{__PROJECT_FOLDER_AS_PYTHON_TOP_MODULE_NAME__}}.api.v1.info.jsonpickle')
    @patch('{{__PROJECT_FOLDER_AS_PYTHON_TOP_MODULE_NAME__}}.api.v1.info.json')
    def test_get_info(self, mock_json, mock_pickle, mock_flask):
        """
        test {{__PROJECT_FOLDER_AS_PYTHON_TOP_MODULE_NAME__}}.api.{{__API_VERSION__}}.info.get_info
        """
        mock_flask.request = MagicMock()
        mock_pickle.encode.return_value = {}
        result = get_info()
        self.assertEqual(result.get('name'), '{{__PROJECT_TITLE__}}')
