"""
{{__PROJECT_FOLDER_AS_PYTHON_TOP_MODULE_NAME__}}/api_{{__API_VERSION__}}.py
"""
import {{__PROJECT_FOLDER_AS_PYTHON_TOP_MODULE_NAME__}}.api.{{__API_VERSION__}}.info as info


################################################################################
# API info
def getInfo():
    return info.get_info()


def getApiDoc():
    return info.get_api_doc()
