"""
{{__PROJECT_FOLDER_AS_PYTHON_TOP_MODULE_NAME__}}/api_v1.py
"""
import {{__PROJECT_FOLDER_AS_PYTHON_TOP_MODULE_NAME__}}.api.v1.info as info


################################################################################
# API info
def getInfo():
    return info.get_info()


def getApiDoc():
    return info.get_api_doc()
