"""
app.py - application entrance

author: Jason Zhu <jason_zhuyx@hotmail.com>
"""
from {{__PROJECT_FOLDER_AS_PYTHON_TOP_MODULE_NAME__}}.app_{{__API_APP_MODULE__}} import app
from {{__PROJECT_FOLDER_AS_PYTHON_TOP_MODULE_NAME__}}.app_{{__API_APP_MODULE__}} import app_main


application = app

if __name__ == '__main__':
    app_main()
    pass
