"""
api_fastapi.py
"""
import fastapi

from {{__PROJECT_FOLDER_AS_PYTHON_TOP_MODULE_NAME__}}.api.__route import ROUTER as router_info

from {{__PROJECT_FOLDER_AS_PYTHON_TOP_MODULE_NAME__}}.app_config import \
    api_name, api_desc, api_version, \
    api_debug, \
    api_docs_url, \
    api_redoc_url, \
    api_spec
from {{__PROJECT_FOLDER_AS_PYTHON_TOP_MODULE_NAME__}}.utils.logger import get_logger

LOGGER = get_logger(__name__)

# Deployment Note:
# PYTHONPATH=. gunicorn -c ouroboros/config_uvicorn.py {{__PROJECT_FOLDER_AS_PYTHON_TOP_MODULE_NAME__}}.app_fastapi:app
app = fastapi.FastAPI(
    title=api_name,
    description=api_desc,
    version=api_version,
    docs_url='/{}'.format(api_docs_url),
    redoc_url='/{}'.format(api_redoc_url),
    openapi_url='/{}'.format(api_spec),
    debug=api_debug)

# Note: router_info should be added at the last.
app.include_router(router_info)
